$color-background: rgba(255, 255, 255, 1) !default;
$color-surface: rgba(210, 218, 226, 1) !default;

$color-primary: rgba(87, 95, 207, 1) !default;
$color-secondary: rgba(75, 207, 250, 1) !default;
$color-accent: rgba(255, 192, 72, 1) !default;

$color-success: rgba(11, 232, 129, 1) !default;
$color-warning: rgba(255, 211, 42, 1) !default;
$color-danger: rgba(245, 59, 87, 1) !default;

$color-text: rgba(30, 39, 46, 1) !default;
$color-text-muted: rgba(72, 84, 96, 1) !default;

$color-link: rgba(60, 64, 198, 1) !default;
$color-link-hover: rgba(15, 188, 249, 1) !default;

$color-code-bg: rgba(210, 218, 226, 1) !default;
$color-code-text: rgba(60, 64, 198, 1) !default;
$color-code-border: rgba(128, 142, 155, 1) !default;
