@use 'variables' as *; 
@use 'sass:color';

.btn {
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
  background-color: $primary-color;
  color: $white;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: color.scale($primary-color, $lightness: -10%);
  }
}
