@use 'variables' as *; 
@use 'sass:color';

.btn {
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
  background-color: $color-primary;
  color: $color-text;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: color.scale($color-primary, $lightness: -10%);
  }
}
