@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

code {
  background-color: $color-code-bg;
  color: $color-code-text;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.95em;
}

pre {
  background-color: $color-code-bg;
  color: $color-code-text;
  border: 1px solid $color-code-border;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.95em;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

