@use '../../node_modules/normalize.css/normalize' as *;
@use 'variables' as *;

@use 'blockquotes' as *;
@use 'code' as *;
@use 'links' as *;
@use 'buttons' as *;

@use 'technology' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  color: $text-color;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html,
body {
  background-color: $background-color;
  height: 100%;
}

/* Placement */

body {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1.5rem;
  flex: 1 0 auto;
}

.header,
.footer {
  padding: 1.5rem;
  flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
  display: flex;
  justify-content: space-between;
}

/* Title */

.title,
.logo {
  padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .title {
    min-width: 50%;
  }

  .logo {
    max-width: 30%;
  }
}

.title * {
  color: #111;
}

.title p {
  font-style: italic;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #222;
  background-color: #333;
  color: #ddd;
}

.footer a {
  color: #222;
}

.footer .social {
  font-size: 2rem;
}

/* Typografy */

body {
  font-family: sans-serif;
  line-height: 1.5rem;
  color: #444;
}

p,
td,
th,
li,
dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  font-weight: bold;
}

img {
  max-width: 100%;
}
